<header class="mdl-grid text-center mdl-color--grey-200 mdl-color-text--grey-800">
  <div class="mdl-cell mdl-cell--12-col">
    <h1><a href="/" title="" class="mdl-color-text--grey-800"><%= config.title %></a></h1>
    <p>Parábolas do dia-a-dia de crentes simples</p>
  </div>
</header>
